<!--<script language='javascript'>
   window.onload=window.print();
</script>-->
    {% extends 'world/base.html' %}

    {% block content %}
    {% for branch in branches %}
        <h1>{{ branch.name }}</h1>
        {% for type in types %}
            {% if type.suit_set.first and type.suit_set.first.branch == branch%}
                <h1 style="font-family: 'Lobster', cursive; font-size: 20pt;">{{ type.name }}</h1>
            {% endif %}
            <table style=" border-collapse: collapse;">
            {% for suit in suits %}
                {% if suit.type == type and suit.branch == branch %}
                <tr>
                <td style=" padding-top: .5em;
    padding-bottom: .5em;">
                    {% if not suit.picture %}
                        <img src="" style="vertical-align:top" height="150" width="150"></td>
                    {% else %}
                        <img src="{{ suit.picture.url}}" style="vertical-align:top" height="150" width="150"></td>
                    {% endif %}
                <td style=" padding-top: .5em;
    padding-bottom: .5em;"><ul>
                    <h1>{{ suit.name }}</h1>
                    <li>Артикул - <b> {{ suit.vendor_code }} </b></li>
                    <li>Год выпуска - <b>{{ suit.year_issue }}</b></li>
                    <li>Описание - <b>{{ suit.details }}</b></li>
                    <li>Цвет - <b>{{ suit.colour }}</b></li>
                    <li>Сумма проката - <b>{{ suit.item_price }}</b></li>
                    <li>Стоимость имущества - <b>{{ suit.rent_price }}</b></li>

                        {% for size in suit.suittosize_set.all %}
                            <li>Размер - <b>    {{ size.size }} </b>
                            Количество - <b>    {{ size.count }} </b></li>
                        {% endfor %}

                    <li>Примечание - {{ suit.note }}</ul>
                </td>
            <td>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>Дата</p>
                <p>___________</p>
                <p>Подпись</p>
                <p>___________</p>
            </td>
            </tr>
                {% endif %}
            {% endfor %}
            </table>
        {% endfor %}
    {% endfor %}
        <button type="submit" class="save btn btn-default" onclick="javascript:window.print();">Печать</button>
    {% endblock content %}